@import'theme';

.gutters {
  padding: 0;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

.main-grid {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.aside {
  grid-column-start: 1;
}

.main-outlet {
  grid-column-start: 2;
}


.arrow-widget {
  top: 2rem;
  width: 100%;
  box-sizing: border-box;
  min-height: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ico-wrapper {
  justify-content: center;
  align-items: center;
  color: col($primary);
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-size: 18pt;
  user-select: none;
  cursor: pointer;
  padding: 1rem;
  span {
    font-size: 10pt;
    margin-top: .25rem;
  }

  &:hover {
    background-color: col($primary);
    color: col($base);
  }

}

.date-decorator {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: col($primary)
}
