@import 'theme';

.add-tasks-action {
  color: col($primary, -5);
  user-select: none;
  white-space: nowrap;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  p {
    font-size: 12pt;
    margin: 0;
  }

  span {
    margin-left: .25rem;
  }
}

.detail-box {
  margin-left: auto;

  span {
    white-space: nowrap;
    padding: .25rem .5rem;
    background-color: col($primary);
    color: col($primary_contrast);
    margin-right: 1rem;
    border-radius: 5px;
    user-select: none;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.flex-row {
  margin-top: 1rem;
}
